.header{
    color: #fff;
    
    &__container{
        background: rgb(114,100,188);
        background: linear-gradient(90deg, rgba(114,100,188,1) 0%, rgb(153, 140, 212) 100%);
        border-radius: 0 0 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        font-weight: 500;
        position: relative;
        box-shadow: 0 5px 35px rgba(255, 255, 255, 0.5);
    }
    
    &__title{
        font-size: 46px;
    }

    &__menu{

    }

    &__list{
        display: flex;
        
    }

    .list{
        &__item{
            &:not(:last-child){
                margin-right: 10px;
            }
            cursor: pointer;
        }
    }

    &__profile{
        display: flex;
        align-items: center;
        
    }

    .profile{

        &__image{

        }

        &__circle{
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;
        }

        &__username{
            cursor: pointer;

        }

        &__login{
            margin-right: 15px;
            cursor: pointer;
        }

        &__registr{
            cursor: pointer;
        }

        &__dropdown-menu{
            position: absolute;
            background-color: #fff;
            top: 75px;
            right: 0;   
            color: #000;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            opacity: 0;
            visibility: hidden;
            transition: all .4s;
            z-index: 2;
        }

        .menu{
            &__list-menu{

            }

            .list-menu{
                &__item{
                    padding: 10px 10px;
                    &:not(:last-child){
                        border-bottom: 1px #ccc solid;
                    }
                    font-size: 14px;
                    cursor: pointer;
                    transition: all .5s;
                    &:hover{
                        background-color: #7264BC;
                        color: #fff;
                    }
                    
                }
            }
        }

        &__triangle{
            padding-left: 25px;
            position: relative;
            height: 100%;
            cursor: pointer;
            &:after{
                content: ''; 
                position: absolute;
                left: 7px; 
                bottom: calc(50% - 10px); 
                border: 7px solid transparent; 
                border-top: 7px solid #fff;
            }
        }
    }
}